form {
  font-size: 0.95em;
}

input,
textarea {
  font-family: 'Open Sans', sans-serif;
  -webkit-box-shadow: 0 1px 3px 0px rgba(50,50,50,0.2);
  -moz-box-shadow: 0 1px 3px 0px rgba(50,50,50,0.2);
  box-shadow: 0 1px 3px 0px rgba(50,50,50,0.2);
}

textarea {
  resize: vertical;
}

input:focus,
textarea {
  outline: none;
}

.input-group input,
.input-group textarea {
  width: 91%;
  margin: 0.5em auto;
  padding: 0.7em 0.9em;
  font-size: 0.9em;
  border: 1px solid #ccc;
  border-radius: $input-border-radius;
}

.input-group textarea {
  display: inline-block;
  vertical-align: middle;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #999;
  -webkit-box-shadow: 0 1px 3px 0px rgba(50,50,50,0.3);
  -moz-box-shadow: 0 1px 3px 0px rgba(50,50,50,0.3);
  box-shadow: 0 1px 3px 0px rgba(50,50,50,0.3);
}

.translation-group {
  text-align: center;
  margin: 1em auto;
}

.translation-group .title {
  width: 94.5%;
  margin: auto;
  padding: 0;
  padding: 0.7em 0 0.5em 0;
  text-align: left;
}

.translation-group p {
  font-weight: bold;
  margin: 0.2em 0;
  color: #444;
}

.translation-group .lang {
  font-size: 0.85em;
  font-weight: bold;
  color: #444;
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  margin-left: -2em;
  margin-right: 0.5em;
}

/* 750px */
@media only screen and (max-width: 750px) {
  .translation-group .lang {
    display: block;
    margin: 0.5em 0.5em 0em 2.5%;
  }
}
