form {
  font-size: 0.95em;
}

input,
textarea {
  font-family: 'Open Sans', sans-serif;
  @include vp-box-shadow(0 1px 3px 0px rgba(50,50,50,0.2));
}

textarea {
  resize: vertical;
}

input:focus,
textarea {
  outline: none;
}

.input-group input,
.input-group textarea {
  width: 91%;
  margin: 0.5em auto;
  padding: 0.7em 0.9em;
  font-size: 0.9em;
  border: 1px solid #ccc;
  border-radius: $input-border-radius;
}

.input-group textarea {
  display: inline-block;
  vertical-align: middle;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #999;
  -webkit-box-shadow: 0 1px 3px 0px rgba(50,50,50,0.3);
  -moz-box-shadow: 0 1px 3px 0px rgba(50,50,50,0.3);
  box-shadow: 0 1px 3px 0px rgba(50,50,50,0.3);
}

.translation-group {
  text-align: center;
  margin: 1em auto;
}

.translation-group-split-3 {
  display: inline-block;
  width: 31%;

  .switch {
    margin: 0.5em 0 0 0.2em;
  }
}

.translation-group .title {
  width: 94.5%;
  margin: auto;
  padding: 0;
  padding: 0.7em 0 0.5em 0;
  text-align: left;
}

.translation-group p {
  font-weight: bold;
  margin: 0.2em 0;
  color: #444;
}

.translation-group .lang {
  font-size: 0.85em;
  font-weight: bold;
  color: #444;
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  margin-left: -2em;
  margin-right: 0.5em;
}

.switch {
  cursor: pointer;
  display: block;
  height: 24px;
  position: relative;
  width: 50px;
  overflow:hidden;
  text-align: left;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    background: #fff;
    border-radius: 50%;
    bottom: 1px;
    box-shadow: 1px 0px 3px #777;
    content: "";
    display: block;
    height: 22px;
    left: 1px;
    position: absolute;
    right: 50px;
    top: 1px;
    width: 22px;
    transition-property: all;
    transition-duration: .4s;
  }

  &.round {
    border-radius: 24px;
  }
}
input:checked + .slider {
  background: $switch-color-1;
  &:before {
    box-shadow: -3px 0px 7px #002551;
    left: calc(100% - 23px); /** width of .slider:before + 1px */
  }
}
input:focus + .slider {
  box-shadow: 0 0 1px $switch-color-1;
}

.input-group-disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* 750px */
@media only screen and (max-width: 750px) {
  .translation-group .lang {
    display: block;
    margin: 0.5em 0.5em 0em 2.5%;
  }
}
