.header {
  position: fixed;
  width: 100%;
  background: #fafaff;
  // border-bottom: 1px solid #ddd;
  z-index: 999;
  @include vp-box-shadow(0 5px 10px -10px rgba(0,0,0,0.5));

  .content {
    padding: 0;
    max-width: 1000px;
    margin: auto;
    text-align: right;
  }

  .logo {
    float: left;
    padding: 1.2em 1.1em 1.1em 1.1em;
    font-weight: 600;
    font-size: 0.95em;
    color: #444;
  }

  .nav-item {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 0.95em;
    outline: none;
    padding: 1.2em 1.1em 1.1em 1.1em;
    border-bottom: 2px solid #fafafa;
    transition: border-color 0.2s;
    &.active {
      color: #145DA0;
      border-color: #145DA0;
    }
    &:hover {
      border-color: #145DA0;
      color: #145DA0;
    }
  }

  .nav-lines {
    display: none;
    cursor: pointer;

    hr {
      height: 2px;
      background: #222;
      border: none;
    }

    &:hover {
      hr {
        background: #145DA0;
      }
    }
  }

  .cross {
    position: absolute;
    width: 2.2em;
    top: 1em;
    right: 4.9em;
    .cross_1 {
      transform: rotateZ(45deg) translateY(0.45em);
    }
    .cross_2 {
      transform: rotateZ(-45deg) translateY(-0.45em);
    }
  }

  .horizontal {
    position: absolute;
    width: 1.8em;
    top: 1.1em;
    right: 5.4em;
    .line {
      margin: 4px 0;
    }
  }
  .lang-nav {
    display: inline-block;
    position: relative;
    padding: 0.8em 0.6em 0.7em 0;
  }
  .active-lang {
    text-transform: uppercase;
    font-size: 0.95em;
    font-weight: bold;
    color: #444;
    border-left: 1px solid #ddd;
    padding: 0.4em 1em 0.4em 1em;
    cursor: pointer;
    margin-right: 0.4em;
    &:hover {
      background: #eaeaff;
    }
    &:active {
      color: #fff;
      background: #145DA0;
    }
  }
  .lang-nav-list {
    display: none;
    position: absolute;
    top: 3.5em;
    right: 0em;
    background: #fafaff;
    border: 1px solid #ddd;
    text-align: center;
    @include vp-box-shadow(-2px 2px 5px -4px rgba(0,0,0,0.5));

    .lang-nav-list-item {
      text-decoration: none;
      display: block;
      padding: 0.7em 1.7em;
      &:hover {
        background: #eaeaff;
      }
      &:active {
        color: #fff;
        background: #145DA0;
      }
    }
  }
}

/* 750px */
@media only screen and (max-width: 750px) {
  /* Nav */
  .header {
    .nav {
      width: 100%;
      display: none;
      position: absolute;
      top: 3.5em;
      right: 0em;
      background: #fafaff;
      border: 1px solid #ddd;
      text-align: center;
      @include vp-box-shadow(0 5px 10px -10px rgba(0,0,0,0.5));
    }
    .nav-lines {
      display: block;
      .cross {
        display: none;
      }
    }
    .nav-item {
      text-align: left;
      display: block;
      border: none;
      border-bottom: 1px solid #eee;
      padding: 1.05em 3em;
      &.active {
        border-left: 2px solid #145DA0;
        border-bottom: 1px solid #eee;
        background: #fafaff;
        color: #145DA0;
      }
      &:hover {
        background: #145DA0;
        color: #eee;
      }
    }
  }
}

@media only screen and (min-width: 750px) {
  /* Nav */
  .header {
    .nav {
      display: inline-block !important;
    }
  }
}
