// Colors
$base-color-1: #f0f0f0;

$white-color-1: #fafafa;
$white-color-1: #fafaff;

$blue-color-1: #145DA0;

$green-color-1: #00A300;
$green-color-2: #00b700;

$dark-color-1: #000;
$dark-color-2: #222;
$dark-color-3: #444;

// $index-top-color: #f9f9f9;
$index-top-color: #145DA0;

// $switch-color-1: #236093;
$switch-color-1: $blue-color-1;

// Border
$button-border-radius: 3px;
$input-border-radius: 3px;

// Box shadow
