<div class="content-wrapper">
  <div class="content">
    <p class="section-title section-title-products"><span class="section-title-text"><%= t(activeCategoryTitle) %></span></p>
    <div class="products-sidebar">
      <div class="search-container">
        <input class="search-input" type="text" name="search" placeholder="Search" />
        <a href="#" class="btn-blue-2">Search</a>
      </div>
      <div class="categories-container">
        <% Object.keys(categories).forEach(function(key) { %>
          <a href="<%= url(categories[key]['href']) %>" class="btn-category <% if (activeCategory == key) { %>active<% } %>">
            <%= t(categories[key]['title']) %>
          </a>
        <% }); %>
      </div>
    </div>
    <div class="products-grid"></div>
  </div>
</div>
<script type="text/javascript">
  const activeCategory = '<%= activeCategory %>';
</script>
