<div class="content-wrapper">
  <div class="content">
    <div class="products-sidebar">
      <div class="search-container">
        <input class="search-input" type="text" name="search" placeholder="Search" />
        <a href="#" class="btn-blue-3">Search</a>
      </div>
      <div class="categories-container">
        <a href="#" class="btn-category active">All Products</a>
        <a href="#" class="btn-category">Best Offers</a>
        <a href="#" class="btn-category">Sale</a>
      </div>
    </div>
    <div class="products-grid"></div>
  </div>
</div>
