/* Admin theme */
.admin-products-grid {
  width: 100%;
  .grid-item {
    width: 23%;
    .product-item-admin-buttons {
      margin: 0.5em 1.7em 1.5em 1.7em;
      text-align: center;
      .edit-delete-button {
        width: 100%;
        padding: 0.5em 0;
        margin-top: 0.5em;
      }
    }

    @media only screen and (max-width: 1000px) {
      width: 31%;
    }
    @media only screen and (max-width: 820px) {
      width: 48%;
    }
    @media only screen and (max-width: 550px) {
      width: 98%;
    }
  }
}

/* === LOGIN === */
.admin-login {
  margin: auto;
  max-width: 300px;
  padding: 3em 2em 7em 2em;
}

/* === DASHBOARD === */
.dashboard-container {
  padding: 3em 0 4em 0;
}

/* === PRODUCTS / TRANSLATIONS === */
.product-edit,
.translation-edit {
  padding: 0.5em 0 2em 0;
  max-width: 700px;
  margin: auto;
}

.product-edit .main-title,
.translation-edit .main-title,
.products-list-title,
.translations-list-title {
  font-weight: bold;
  color: #333;
  font-size: 1.1em;
}

/* === PRODUCTS === */
.products-list-admin .product-item-buttons button {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: 48%;
  margin: 0 1%;
}

.btn-custom-color-1 {
  border-color: #cc0000;
}
.btn-custom-color-1:hover {
  background: #cc0000;
  border-color: #cc0000;
  color: #fff;
}
.btn-custom-color-1:active {
  background: #e60000;
  border-color: #e60000;
}
