<div class="content-wrapper">
  <div class="content">
    <form class="product-edit" method="post" action="/api/products/add">
      <p class="main-title">Add new product</p>
      <div class="input-group">
        <div class="translation-group">
          <p class="title">Image URL</p>
          <input type="text" name="image" required/>
        </div>
        <div class="translation-group">
          <p class="title">Title</p>
          <span class="lang">EN</span><input type="text" name="title[en]" required/><br />
          <span class="lang">DE</span><input type="text" name="title[de]" /><br />
          <span class="lang">LV</span><input type="text" name="title[lv]" /><br />
          <span class="lang">RU</span><input type="text" name="title[ru]" />
        </div>
        <div class="translation-group">
          <p class="title">Description</p>
          <span class="lang">EN</span><textarea name="description[en]" rows="3" required></textarea><br />
          <span class="lang">DE</span><textarea name="description[de]" rows="3"></textarea><br />
          <span class="lang">LV</span><textarea name="description[lv]" rows="3"></textarea><br />
          <span class="lang">RU</span><textarea name="description[ru]" rows="3"></textarea>
        </div>
      </div>
      <input class="btn-style-2" type="submit" value="Submit" />
    </form>
  </div>
</div>
