<div class="content-wrapper">
  <div class="content">
    <form class="product-edit" method="post" action="/api/products/update/">
      <p class="main-title">Edit product</p>
      <div class="input-group">
        <div class="translation-group">
          <p class="title">Image URL</p>
          <input type="text" name="image" required />
        </div>
        <div class="translation-group">
          <p class="title">Title</p>
          <span class="lang">EN</span><input type="text" name="title[en]" required/><br />
          <span class="lang">DE</span><input type="text" name="title[de]" required/><br />
          <span class="lang">LV</span><input type="text" name="title[lv]" required/><br />
          <span class="lang">RU</span><input type="text" name="title[ru]" required/>
        </div>
        <div class="translation-group">
          <p class="title">Description</p>
          <span class="lang">EN</span><textarea name="description[en]" rows="3" required></textarea><br />
          <span class="lang">DE</span><textarea name="description[de]" rows="3" required></textarea><br />
          <span class="lang">LV</span><textarea name="description[lv]" rows="3" required></textarea><br />
          <span class="lang">RU</span><textarea name="description[ru]" rows="3" required></textarea>
        </div>
        <div class="translation-group">
          <p class="title">Price (€):</p>
          <input type="number" step="0.01" min="0" name="price" required />
        </div>
        <div class="translation-group">
          <p class="title">Weight:</p>
          <input type="number" step="1" min="0" name="weight" />
        </div>
        <div class="translation-group translation-group-split-3">
          <p class="title">Active:</p>
          <label class="switch">
            <input type="checkbox" name="active" value="true" />
            <span class="slider round"></span>
          </label>
        </div>
        <div class="translation-group translation-group-split-3">
          <p class="title">Best:</p>
          <label class="switch">
            <input type="checkbox" name="best" value="true" />
            <span class="slider round"></span>
          </label>
        </div>
        <div class="translation-group translation-group-split-3">
          <p class="title">Sale:</p>
          <label class="switch">
            <input type="checkbox" name="sale" value="true" />
            <span class="slider round"></span>
          </label>
        </div>
        <div class="translation-group input-group-disabled">
          <p class="title">Sale price (€):</p>
          <input type="number" step="0.01" min="0" name="salePrice" />
        </div>
        <div class="translation-group input-group-disabled">
          <p class="title">Sale discount (%):</p>
          <input type="number" step="1" min="0" name="saleDiscount" />
        </div>
      </div>
      <input class="btn-style-2" type="submit" value="Submit" />
    </form>
  </div>
</div>
