.db {
  display: block;
}

.dib-vat {
  display: inline-block;
  vertical-align: top;
}

.dib-vam {
  display: inline-block;
  vertical-align: middle;
}


.tal {
  text-align: left;
}
.tac {
  text-align: center;
}

/* Padding top about headers height */
.pth {
  padding-top: 3em;
}

.ptz {
  padding-top: 0;
}

.ma {
  margin: auto;
}
