/* === LOGIN === */
.admin-login {
  margin: auto;
  max-width: 300px;
  padding: 3em 2em 7em 2em;
}

/* === DASHBOARD === */
.dashboard-container {
  padding: 3em 0 4em 0;
}

/* === PRODUCTS === */
.product-edit {
  padding: 2em 3em 5em 3em;
  max-width: 700px;
  margin: auto;
}

.product-edit .main-title,
.products-list-title {
  font-weight: bold;
  color: #333;
  font-size: 1.1em;
}

/* Products List */
.products-list-admin .product-item-buttons button {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: 48%;
  margin: 0 1%;
}

.btn-custom-color-1 {
  border-color: #cc0000;
}
.btn-custom-color-1:hover {
  background: #cc0000;
  border-color: #cc0000;
  color: #fff;
}
.btn-custom-color-1:active {
  background: #e60000;
  border-color: #e60000;
}
