#admin-login {
  background: #fafaff;
  max-width: 300px;
  margin: 100px auto;
  padding: 2.5em 3.5em 3.3em 3.5em;
  /* text-align: left; */
  /* border-radius: 3px 20px 3px; */
  -webkit-box-shadow: 0 5px 10px -5px rgba(0,0,0,1);
  -moz-box-shadow: 0 5px 10px -5px rgba(0,0,0,1);
  box-shadow: 0 5px 10px -5px rgba(0,0,0,1);
}

/* Temp */
#admin-login .logo {
  margin-bottom: 1.5em;
}
#admin-login .logo a {
  font-weight: 600;
  color: #444;
}
#admin-login .logo a:hover {
  color: #777;
}
