<div class="footer">
  <div class="content">
    <div class="container dib-vat footer-nav-items">
      <div class="dib-vat tal">
        <!-- TODO -->
        <% Object.keys(headerItems).forEach(function(key) { %><a href="<%- headerItems[key]['href'] %>" class="nav-item-f db"><%- headerItems[key]['title'] %></a><% }); %>
      </div>
    </div>
    <div class="container dib-vat">
      <div class="dib-vat tal">
        <div class="contact-item">+(371) 2xxxxxxx</div>
        <div class="contact-item">+(371) 2xxxxxxx</div>
        <div class="contact-item">email@email.com</div>
        <div class="contact-item">Street 10-10, Riga, Latvia</div>
      </div>
    </div>
    <div class="container dib-vat">
      <div class="dib-vat tal">
        <div class="logo">/ Logo /</div>
        <div>© 2019 / Name /</div>
      </div>
    </div>
  </div>
</div>
