<div class="header">
  <div class="content">
    <div class="logo">/ Logo /</div>
    <div class="nav-lines">
      <div class="cross">
        <hr class="cross_1" />
        <hr class="cross_2" />
      </div >
      <div class="horizontal">
        <hr class="line"/>
        <hr class="line"/>
        <hr class="line"/>
        <hr class="line"/>
      </div>
    </div>
    <div class="nav div-vat">
      <% Object.keys(headerItems).forEach(function(key) { %>
        <a href="<%= url(headerItems[key]['href']) %>" class="nav-item <% if (activeHeaderItem == key) { %>active<% } %>">
          <%= t(headerItems[key]['title']) %>
        </a>
      <% }); %>
    </div>
    <div class="lang-nav dib-vat">
      <div class="active-lang"><%= language %></div>
      <div class="lang-nav-list">
        <a href="/en" class="lang-nav-list-item">EN</a>
        <a href="/de" class="lang-nav-list-item">DE</a>
        <a href="/lv" class="lang-nav-list-item">LV</a>
        <a href="/ru" class="lang-nav-list-item">RU</a>
      </div>
    </div>
  </div>
</div>
