<div class="content-wrapper">
  <div class="content">
    <div class="dashboard-container">
      <div class="dib-vat">
        <a href="/admin/products"><button class="btn-blue-4">View products</button></a>
        <a href="/admin/products/add"><button class="btn-blue-4">Add new product</button></a>
      </div>
      <div class="dib-vat">
        <a href="/admin/translations"><button class="btn-blue-4">View translations</button></a>
        <a href="/admin/translations/add"><button class="btn-blue-4">Add new translation</button></a>
      </div>
    </div>
  </div>
</div>
