<div id="admin-login">
  <div class="logo"><a href="/">/ Logo #Public side - Home /</a></div>
  <form method="post" action="/api/admin/login">
    <div class="input-group">
      <input type="text" name="username" placeholder="Username" required/>
      <input type="password" name="password" placeholder="Password" required/>
    </div>
    <input class="btn-style-2" type="submit" value="Login" />
  </form>
</div>
