<div class="content">
  <div class="pth">
    <a href="/admin/products/add"><button class="btn-style-1 btn-custom-margin-1">Add new product</button></a>
    <p class="products-list-title">All products</p>
    <div id="products-list"></div>
  </div>
</div>
