<div class="content-wrapper">
  <div class="content">
    <a href="/admin/products/add"><button class="btn-blue-4 dib-vat">Add new product</button></a>
    <div class="products-grid admin-products-grid"></div>
  </div>
</div>
