<div class="content-wrapper">
  <div class="content">
    <a href="/admin/products/add" class="dib-vat">
      <button class="btn-style-1">Add new product</button>
    </a>
    <p class="products-list-title">All products</p>
    <div class="products-list products-list-admin"></div>
  </div>
</div>
