<div class="content-wrapper">
  <div class="content">
    <a href="/admin/translations/add" class="dib-vat">
      <button class="btn-style-1"">Add new translation</button>
    </a>
    <p class="translations-list-title">All Translations</p>
    <div class="translations-list"></div>
  </div>
</div>
