<div class="content-wrapper">
  <div class="content">
    <a href="/admin/translations/add"><button class="btn-blue-4 dib-vat">Add new translation</button></a>
    <div class="translations-list"></div>
  </div>
</div>
